.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container > h1 {
  margin-bottom: 50px;
}

.p {
  text-align: center;
}

.btn_create {
  background-color: rgb(46, 46, 46);
  padding: 20px 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.btn_create:hover {
  background-color: rgb(56, 56, 56);
}

.task_block {
  border: 0.1px solid white;
  border-radius: 10px;
  height: 400px;
  padding: 10px;
  overflow: auto;
}

.task_list {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
}

.task_stat {
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.task_stat > h2 {
  font-size: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.task_stat > h2::after {
  content: "\2014\2014\2014\2014\2014\2014\2014\2014";
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 5px;
}

.task_info > h3 {
  margin-left: 10px;
}
.task_info > h3::before {
  content: "\2022  ";
}

.task_info > p {
  margin-left: 25px;
}

.task_btn {
  display: flex;
  gap: 5px;
}

.task_btn > button {
  border-radius: 10px;
  padding: 10px 15px;
}

.task_btn > button:first-child {
  background-color: rgb(124, 81, 0);
}
.task_btn > button:first-child:hover {
  background-color: rgb(145, 94, 0);
}

.task_btn > button:last-child {
  background-color: rgb(145, 0, 0);
}
.task_btn > button:last-child:hover {
  background-color: rgb(167, 0, 0);
}
